.flex {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

}

.expenseDiv {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 5px gray;
  margin-top: 25px;
  border-radius: 1rem;

}
.expenseDiv > h1 {
  text-align: center;
  padding-bottom: 5px;
}

.budget {
  border: 1px solid black;
  padding: 2rem;
  margin-top: 2rem;
  background: rgba(49, 109, 244, 1);
  border-radius: 1rem;

}

.budget ul {
  display: flex;
  list-style: none;
  color: white;
  font-size: 1.5rem;
  /* justify-content: center !important; */
  justify-content: center;
}

.budget ul div {
  width: 33.333%;
}

.BudgetItem, .BalanceItem, .ExpenseItem {
  text-align: center;
}
/* 
.balance {
  justify-content: center !important;

} */

/*Makes expense and budget/balance/expense container the same with*/
.expenseContainer {
  padding-left: 0;
  padding-right: 0;

}