<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/searchAttraction.css" />

<!--NAV BAR-->

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2">
  <div class="container">
    <a href="/" class="navbar-brand">Discover</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="profile" class="nav-link">Pending attractions</a>
        </li>
        <li class="nav-item">
          <a href="completedAttractions" class="nav-link"
            >Completed attractions</a
          >
        </li>
        <li class="nav-item">
          <a href="addAttraction" class="nav-link">Add attraction</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Search, image background-->
<div class="background-image">
  <section class="topSection content">
    <div class="container text-center">
      <h1>Enter a zip code and find local attractions</h1>
      <span>Add it to your bookmarks</span>

      <div class="input-group mb-3 pt-2">
        <input type="text" class="form-control" placeholder="Zip Code" />
        <button class="btn btn-primary" type="button" id="button-addon2">
          Search
        </button>
      </div>
    </div>
  </section>
</div>

<!--DISPLAY Attractions-->

<section class="pt-0">
  <div class="container">
    <div class="row text-center g-0" id="displayAttraction"></div>
  </div>
</section>

<!-- Back to top button -->
<button
  type="button"
  class="btn btn-danger btn-floating btn-lg"
  id="btn-back-to-top"
>
  <i class="bi bi-arrow-up"></i>
</button>

<script src="/js/main.js"></script>
<%- include('partials/footer') -%>
